<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <title>Sign in Page</title>
    <title>CHECK</title>
</head>
<body>
    <div class="row">
        <div class="sixteen column wide">
            <h1 class="centerText">Please Wait. You are being redirected!</h1>
        </div> 
    </div>
</body>
<script src="js/check.js"></script>
</html>