<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.min.css">    
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <title>Sign in Page</title>
</head>
<body>
    <div class="ui grid">
        <div class="row">
            <div class="four wide column"></div>
            <div class="eight wide column text-center">
                <h1>Join with us And make you campus Expirience <br>Interesting</h1>
            </div>
            <div class="four wide column"></div>
        </div>
        <div class="row">
            <div class="five wide column"></div>
            <div class="six wide column top_clear">
        <div id="firebaseui-auth-container"></div>                
            </div>
            <div class="five wide column"></div>
        </div>
    </div>
</body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/semantic/dist/semantic.min.js"></script>
<script src="js/sign_in.js"></script>
</html>