<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.min.css">
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <title>Stuff Page</title>
</head>

<body>
    <div class="ui three item menu">
        <a class="item" href="/">Home</a>
        <a class="item">Campus Buddy</a>
        <a class="item">Welome User</a>
    </div>
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column text-center" style="text-align:center;font-size:30px;padding:20px;">
                Here you can sell your items
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="row">
            <div class="six wide column leftSegment">
                <div class="ui cards">
                    <div class="ui special cards">
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui inverted button">Add Friend</div>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://placem.at/things?w=250&random=1">
                            </div>
                            <div class="content">
                                <a class="header">Action Bycycle</a>
                                <div class="meta">
                                    <span class="date">Posted on 12/04/17</span>
                                </div>
                            </div>
                            <div class="extra content">
                                <a>
                                    <i class="users icon"></i>
                                    2 Interested
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui special cards">
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui inverted button">Add Friend</div>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://placem.at/things?w=250&random=1">
                            </div>
                            <div class="content">
                                <a class="header">Hero Moto Cop Motorcycle</a>
                                <div class="meta">
                                    <span class="date">Posted on 12/04/17</span>
                                </div>
                            </div>
                            <div class="extra content">
                                <a>
                                    <i class="users icon"></i>
                                    2 Interested
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column rightSegment">
                <div class="ui cards">
                    <div class="ui special cards">
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui inverted button">Add Friend</div>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://placem.at/things?w=250&random=1">
                            </div>
                            <div class="content">
                                <a class="header">Something Cool!
                                </a>
                                <div class="meta">
                                    <span class="date">Posted on 12/04/17</span>
                                </div>
                            </div>
                            <div class="extra content">
                                <a>
                                    <i class="users icon"></i>
                                    2 Interested
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui special cards">
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui inverted button">Add Friend</div>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://placem.at/things?w=250&random=1">
                            </div>
                            <div class="content">
                                <a class="header">Something Cooler</a>
                                <div class="meta">
                                    <span class="date">Posted on 12/04/17</span>
                                </div>
                            </div>
                            <div class="extra content">
                                <a>
                                    <i class="users icon"></i>
                                    2 Interested
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column stuff_btn">
                <button class="ui teal basic button" id="stuffBtn">
                    <i class="user icon"></i>
                    Sell Something
                </button>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="row">
            <div class="four wide column here">
                 </div>
        </div>
    </div>
</body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/semantic/dist/semantic.min.js"></script>
<script src="js/stuff.js"></script>

</html>