.top_clear{
    top:10vh;
    border:1px solid goldenrod;
    background: ghostwhite;
    padding: 50px;
}
.text-center{
    text-align:center;
    top:10vh;
}
.hold_options{
    position: fixed;
    left:10px;
    top:20vh;
}
.title_dashboard{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;    
}
.orderW{
    position: fixed;
    top:45vh;
    left:40vw;
    text-align: center;
}
.formPlace{
    position: fixed;
    top:35vh;
    left:40vw;
}
.text_right_shift{
    left:100px;
    position: relative;
}
.text h1{
    position: relative;
    top:40vh;
    font-size: 100px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.hidden{
    display: none;
}
.text h2{
    position: relative;
    top:1vh;
    font-size: 70px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.rightSegment{
    position: fixed;
    right:-470px;
}
.leftSegment{
    position: fixed;
    left: 40px;
}
.stuff_btn{
    position:fixed;
    top:-60vh;
    left:42vw;
}
.hide{
    display: none;
}
.hold_options .item{
    font-size: 15px;
    height: 70px;
}
.hold_profile{
    position: fixed;
    top:10vh;
    right: 10px;
}